<script src="{{asset('js/Profiles/jquery.min.js')}}"></script>

<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <h2>Attendance Anlyser [CLASS]</h2>
        </div>
        <div class="row">
            <div class="col-lg-4" style="color:rgba(3, 88, 106, 0.3) ;"><i class="fa fa-stop"></i> Average Mark</div>
            <div class="col-lg-4" style="color:rgba(44, 175, 219, 0.29) ;"><i class="fa fa-stop"></i> Maximum Mark</div>
            <div class="col-lg-4" style="color:rgba(8, 115, 150, 0.5) ;"><i class="fa fa-stop"></i> Individual Mark</div>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <canvas id="canvas_bar"></canvas>
    </div>
</div>


