{% extends "base.html.twig"%}
{% block title %}
    <title>Teacher Profile</title>
{% endblock %}

{% block sideBarMenu %}
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
                <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>                    
                </li>
                <li><a><i class="fa fa-edit"></i> News Forum <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <li id="newsForum"><a href="javascript:;">Messages</a>
                        </li>                                            
                    </ul>
                </li>
                <li><a><i class="fa fa-desktop"></i> Attendance <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <li><a href="javascript:;">Exam</a>
                        </li>
                        <li id="classAttendance"><a href="javascript:;">Class</a>
                        </li>
                    </ul>
                </li>
                <li><a><i class="fa fa-table"></i> Results <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <li><a href="javascript:;">Recent Exams</a>
                        </li>
                        <li><a href="javascript:;">View All Results</a>
                        </li>
                    </ul>
                </li>                
            </ul>
        </div>
        <div class="menu_section">
            <h3>Accounts</h3>
            <ul class="nav side-menu">
                <li><a><i class="fa fa-bug"></i> Settings <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <li id="accountSetting"><a href="javascript:;">Account Settings</a>
                        </li>
                        <li><a href="javascript:;">Personal Settings</a>
                        </li>
                    </ul>
                </li>                
            </ul>
        </div>

    </div>
{% endblock %}

{% block container %}
    <div class="container">
        <div class="page-title">
            <div class="title_left">
                <h3>Mentor Portal</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">                        
                        <div id="contentBody" class="container">
                            <div class="x_title">                                

                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">

                                    <div class="profile_img">

                                        <!-- end of image cropping -->
                                        <div id="crop-avatar">
                                            <!-- Current avatar -->
                                            <div class="avatar-view" title="Change the avatar">
                                                <img src="{{asset('images/BaseTemplate/contacts.png')}}" alt="Avatar">
                                            </div>
                                            <!-- Loading state -->

                                        </div>
                                        <!-- end of image cropping -->

                                    </div>
                                    <h3>Samuel Doe</h3>

                                    <ul class="list-unstyled user_data">
                                        <li><i class="fa fa-map-marker user-profile-icon"></i> San Francisco, California, USA
                                        </li>

                                        <li>
                                            <i class="fa fa-briefcase user-profile-icon"></i> Software Engineer
                                        </li>

                                        <li class="m-top-xs">
                                            <i class="fa fa-external-link user-profile-icon"></i>
                                            <a href="http://www.kimlabs.com/profile/" target="_blank">www.kimlabs.com</a>
                                        </li>
                                    </ul>

                                    <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
                                    <br />

                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Personal Profile</a>
                                            </li>
                                            <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Classes </a>
                                            </li>

                                        </ul>
                                        <div id="myTabContent" class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#accountSetting').on('click', function () {

            var $whereToLoadContent = $("#contentBody"); //where you want to load data

            var routeWithPlaceHolder = "{{path('studentAccountSettings')}}";
            $whereToLoadContent.load(routeWithPlaceHolder);

        });

        $('#newsForum').on('click', function () {

            var $whereToLoadContent = $("#contentBody"); //where you want to load data

            var routeWithPlaceHolder = "{{path('displayForum')}}";
            $whereToLoadContent.load(routeWithPlaceHolder);

        });
        $('#classAttendance').on('click', function () {

            var $whereToLoadContent = $("#contentBody"); //where you want to load data

            var routeWithPlaceHolder = "{{path('teacherClassAttendanceRender')}}";
            $whereToLoadContent.load(routeWithPlaceHolder);

        });
    </script>
{% endblock %}

{% block footer %}{% endblock %}